*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, rgb(50, 50, 249), purple );
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.to-do{
    width: 400px;
    background: beige;
    padding-bottom: 20px;
    /* height: 40vh; */
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 1rem;
}
.to-do h2{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    height: 3rem;
}
.to-do img{
    height: 3rem;
}

.input1 input{
    height: 2rem;
    width: 300px;
    border-radius: 1rem;
    border: none;
    outline: none;
    padding-left: 10px;

}
.input1 button{
    height: 2rem;
    width: 4rem;
    border-radius: 1rem;
    border: none;
    outline: none;
    background: white;
}

.tasklist{
    width: 80%;
    display: flex;
    align-items: center;
    /* justify-content: center; */
}
ul{
    width: 100%;
}
ul li{
    width: 100%;
    list-style: none;
    font-size: 17px;
    padding:12px 9px 12px 50px ;
    cursor: pointer;
    position: relative;
}

ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(unchecked.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}
/* .checked{
    color: #555;
    text-decoration: line-through;
} */
/* ul li .checked{
    color: #555;
    text-decoration: line-through;
}
ul li .checked::before{
    background-image:url(checked.png);
} */


ul li.checked {
    color: #555;
    text-decoration: line-through;
}

ul li.checked::before {
    content: "";
    position: absolute;
    top: 12px;
    left: 8px;

    height: 28px;
    width: 28px;
    border-radius: 50%;

    background-image: url("checked.png");
    background-size: cover;
    background-repeat: no-repeat;
}



ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li span:hover{
    background: rgb(165, 165, 146);
}